<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deepaksharma.welcome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="WELCOME"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Signup" />
        <activity android:name=".SpinActivity" />
        <activity android:name=".Rating" />
        <activity android:name=".Seekbar" />
        <activity android:name=".GridviewActivity" />
        <activity android:name=".RadioActivity" />
        <activity android:name=".Checkbox" />
        <activity android:name=".ScrollActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SearchviewActivity"
            android:label="WELCOME"
            android:theme="@style/AppTheme"/>
        <activity android:name=".TimeActivity" />
        <activity android:name=".DateActivity" />
        <activity android:name=".Fragment_Main" />
    </application>

</manifest>